<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
</head>

<body>
    <div>
        <div class="footerContainer">
            <div class="ErrorBlock">
                <p class="errorCode">КОД ОШИБКИ</p>
                <p>Некотороя информация об ошибке, которая будет радовать ваш глаз.</p>
            </div>
        </div>
    </div>
</body>

</html>