{% extends "base.html" %}
{% load static %}
{% block content_header %}
<li>
    <a href="#aboutUs" class="header__link">О нас</a>
</li>
<li>
    <a href="#footerBlock" class="header__link">Контакты</a>
</li>
{% endblock %}
{% block content_wrapper %}
<div class="topImage">
    <img src={% static "img/bigLogo4.png" %} alt="Родник" class="bigLogo">
    <div class="mainBlock">
        <div class="topContentBlock"></div>
        <div class="topContent">
            Специализация: семеноводство озимого и ярового рапса, горохов, кормовых бобов, клеверов, злаковых трав, картофеля. Производство овощей и продовольственного картофеля, молочное скотоводство. Крестьянское (фермерское) хозяйство «Родник», пожалуй, одно из
            самых больших по территории в стране. Пожалуй, крупнее его лишь КФХ «Цнянские экопродукты», что в Логойском районе Минской области. А в Витебской области, по крайней мере, больше земли, чем у КФХ «Родник», ни у кого нет. 20 километров
            в длину и почти столько же в ширину - все наделы за день глава хозяйства Юрий Семенов успевает объехать только на машине. А когда начинал трудиться на земле, мог справиться и пешком: было всего 46 га пашни в пожизненно наследуемом
            владении. Позже площадь увеличилась до 2145 га. Сейчас – уже 3292 га сельхозугодий. Это и пожизненно наследуемое владение землей, и аренда, и постоянное пользование. С учетом того, что полтора десятка лет назад успешный фермер взял
            под свое крыло проблемный колхоз.
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="content">
    <div class="icon1" id="aboutUs"></div>
    <div class="container">
        <div class="contentText">
            <div class="interactiveTitle">КФХ «‎РОДНИК»</div>
            <div class="textAndImage">
                <div class="textBlock">
                    <p>История хозяйства начинается в 1991 году, когда Юрий Викторович вместе с единомышленниками взял в аренду 150 га земли и образовал фермерское хозяйство «Родник». Понимая, что в тех местах на зерне не заработаешь - земля не та, сделали
                        ставку на выращивание семян картофеля и многолетних трав. Взяли 150 тысяч рублей кредита, тогда это были большие деньги. Работали как одержимые: сами пахали, сеяли, собирали урожай. Уже осенью расплатились за кредит и технику
                        покупали за свои деньги. Тогда же пришло и четкое осознание того, что земля дает отдачу, если к ней по-хозяйски относиться.</p>
                    <p>В 2002 году Юрий Семенов после долгих раздумий рискнул и взял под свое попечительство колхоз «Ленинский призыв» вместе со всеми его долгами, разоренными фермами и добитой инфраструктурой. Семенов вложил все свои сбережения в колхоз
                        ... и чуть не прогорел. Но спустя почти десяток лет крестьянское (фермерское) хозяйство «Родник» стало одним из лучших в районе. Достаточно привести такую цифру: занимая 4,2% угодий района, оно обеспечивает 19% налоговых поступлений
                        района.
                    </p>
                </div>
                <div class="imageBlock"><img src={% static "img/owner.jpg" %} alt="Глава фирмы - Юрий Викторович Семёнов" class="ownersPhoto">
                    <h6>Глава КФХ "Родник" Семёнов Юрий Викторович</h6>
                </div>
            </div>
            <p>Основными видами деятельности Крестьянского (Фермерского) Хозяйства "Родник" являются:
                <div class="listBlock">
                    <div class="leftList">
                        <ul>
                            <li>
                                <a class="line line1" href="{% url 'product1' %}"><span class="product1">Картофелеводсвто</span>
                                </a>
                            </li>
                            <li>
                                <a class="line line2" href="{% url 'product2' %}">
                                    <span class="product2">Выращивание зерновых культур</span>
                                </a>
                            </li>
                            <li>
                                <a class="line line3" href="{% url 'product3' %}">
                                    <span class="product3">Выращивание овощных культур</span>
                                </a>
                            </li>
                            <li>
                                <a class="line line4" href="{% url 'product4' %}">
                                    <span class="product4">Молочное скотоводство</span>
                                </a>
                            </li>
                            <li>
                                <a class="line line5" href="{% url 'product5' %}">
                                    <span class="product5">Кормопроизводство</span>

                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="rightList">
                        <ul>
                            <li>
                                <a class="line line6" href="{% url 'product6' %}">
                                    <span class="product6">Семеноводство зерновых культур</span>
                                </a>
                            </li>
                            <li>
                                <a class="line line7" href="{% url 'product7' %}">
                                    <span class="product7">Семеноводство зернобобовых культур</span>
                                </a>
                            </li>
                            <li>
                                <a class="line line8" href="{% url 'product8' %}">
                                    <span class="product8">Семеноводство крестоцветных культур</span>
                                </a>
                            </li>
                            <li>
                                <a class="line line9" href="{% url 'product9' %}">
                                    <span class="product9">Семеноводство многолетних трав</span>
                                </a>
                            </li>
                            <li>
                                <a class="line line10" href="{% url 'product10' %}">
                                    <span class="product10">Семеноводство льна масличного</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>Главный овощ сезона – картофель. Сборы свыше 5000 тонн, это 90% выращенного картофеля в районе. В двух хранилищах его столько, что круглый год смогут кормить жителей трех районов. Кроме овощей в «Роднике» развивают семеноводство. Хозяйство является элитхозом
                по выращиванию семян многолетних трав, зернобобовых и крестоцветных культур. Особое восхищение у Юрия Викторовича вызывает галега восточная. В Шумилинском районе такую траву можно встретить на полях только этого фермерского хозяйства.
                – Галега восточная – это позор агронома на 1 год и счастье зоотехника на 15–20 лет, – говорит Юрий Семенов. – Это самая дешевая кормовая единица в Беларуси. Правда, год надо ждать пока прорастет, внедрение ее в землю идет медленно,
                но потом только успевай косить. 25 лет ничего с полем делать не надо. Собирай по два укоса в год. Причем первый уже в конце мая. В траве много протеина, белка. Она прекрасно идет в любом виде на корм любым животным, а в древнем Риме
                ее подавали к столу. Нынешнее большое хозяйство Юрия Семенова – это копия предыдущего малого. Было 8 человек, стало 100. Ставку сделали на овощи, сортовые травы и молоко.</p>
            <div class="textAndVideo">
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/52ECuvdckr4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <div class="secondTextBlock">
                    <p>На фермах содержится почти 900 голов КРС, а это – постоянный источник финансовых поступлений за молоко. Хозяйский подход и расчет дают хорошую прибыль. Здесь все вроде так, как и на привычных сельхозпредприятиях: есть старая и
                        новая техника, люди разные. Но вся продукция здесь идет с приставкой «элита», то есть высаживаются самые лучшие семена, а агрономы и глава хозяйства всегда в курсе новых способов обработки земли. Подсчитали: вкладывая в землю
                        один рубль, возвращают почти два. И это своими силами, без государственных дотаций. О такой рентабельности многие только мечтают. А когда все получается в поле, хватает времени, чтобы решить и социальные вопросы. С каждым работником
                        подписан коллективный договор, где кроме привычного социального пакета прописаны и многочисленные бесплатные продовольственные бонусы. Фермерское хозяйство – это не только земля, но и люди, которые на ней живут. На территории
                        КФХ – 13 деревень. А чтобы специалисты не спешили из деревни в город, хозяйство своими силами построило уже 11 домов. – Если ты временщик на этой земле, то приехал, хапанул что-то, если смог, и сбежал. Если собираешься надолго
                        остаться, то и относиться к людям нужно так, как хотел бы, чтобы люди относились к тебе, - уверен Юрий Семенов.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block static_js %}
<script type="text/javascript" src={% static 'js/interactiveTitle.js' %}></script>
{% endblock %}
