{% extends "base.html" %}
{% load static %}
{% block content_header %}
<li>
    <a href="#footerBlock" class="header__link">Контакты</a>
</li>
<li>
    <a href="{% url 'index' %}" class="header__link">На главную</a>
</li>
{% endblock %}
{% block content %}
<div class="productTopImage">
    <div class="darkFilter">
        <div class="productTitle">
            <h1>Семеноводство зернобобовых культур</h1>
        </div>
        <script type="text/javascript" src={% static 'js/setTopImage.js' %}></script>
    </div>
</div>
<div class="productContent">
    <div class="container">
        <div class="contentText">
            <div class="textAndImage">
                <div class="productTextBlock">
                    <p>О значении зернобобовых в народном хозяйстве корректно, и в то же время деликатно подчеркнул В.Р. Вильямс: «Нет более верного пути к обнищанию народа, как одностороннее увлечение злаковыми культурами». Зернобобовые - это высокопроизводительный
                        биозавод по фиксации азота воздуха. Азот корневых и пожнивных остатков практически не вымывается, т. к. минерализуется постепенно, в течение 3—5 лет.Мало того, зернобобовые культуры — это еще и биофабрика по производству высококачественного
                        белка. Зернобобовые культуры — это самый надежный и выгодный компонент в смешанных посевах, что обусловлено их способностью активной фиксации азота и большой засухоустойчивостью. Зернобобовые культуры являются бережливыми и
                        экономными «хозяевами» на поле. Они с помощью выделений корневой системы переводят труднодоступные для других культур соединения фосфора и калия в доступные и используют их. Кроме того, с помощью глубоко проникающей корневой
                        системы поглощают в подпахотных горизонтах макро- и микроэлементы, ранее вымытые из пахотного слоя, и возвращают их в корнеобитаемый горизонт, предохраняя тем самым почвенные воды от загрязнения.
                    </p>
                    <p> Семена зерновых бобовых культур отличаются высоким со­держанием незаменимых аминокислот. Содержание основных незаменимых аминокислот в белке зерновых бобовых культур в 1,5...3,0 раза больше, чем в белке мятликовых культур. Например,
                        в 1 кг семян сои лизина содержится в 6 раз больше, чем в 1 кг пшеницы. Кроме того, в семенах некоторых зерновых бобовых культур содержится значительное количество жира, например у сои 16...27%, у нута около 5%.
                    </p>
                </div>
                <div class="productImageBlock"><img src={% static "/img/productImage7-1.jpg" %} alt="Соя на семена" class="ownersPhoto">
                    <img src={% static "/img/productImage7-2.jpg" %} alt="Семеноводство зернобобовых культур" class="ownersPhoto">
                    <img src={% static "/img/productImage4-2.jpg" %} alt="Семеноводство зернобобовых культур" class="ownersPhoto">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
