{% extends "base.html" %}
{% load static %}
{% block content_header %}
<li>
    <a href="#footerBlock" class="header__link">Контакты</a>
</li>
<li>
    <a href="{% url 'index' %}" class="header__link">На главную</a>
</li>
{% endblock %}
{% block content %}
<div class="productTopImage">
    <div class="darkFilter">
        <div class="productTitle">
            <h1>Семеноводство зерновых культур</h1>
        </div>
        <script type="text/javascript" src={% static 'js/setTopImage.js' %}></script>
    </div>
</div>
<div class="productContent">
    <div class="container">
        <div class="contentText">
            <div class="textAndImage">
                <div class="productTextBlock">
                    <p>В технологии возделывания сельскохозяйственных культур большое значение уделяется семенам и их качеству. Семена – носители биологических и хозяйственных свойств растений, поэтому от их качества в значительной степени зависит урожай.
                        Некоторые сорта эволюционируют и должны приходить на смену сегодняшним сортам, которые на высоком агрофоне будут давать прибавку к урожайности с высоким качеством зерна.
                    </p>
                    <p> В структуре сортов яровых зерновых культур, используемых в сельском хозяйстве области, выделяется группа сортов, которая доминирует в посевах и занимает по пшенице мягкой яровой (отечественной селекции) сорт «Дарья» (2002 года
                        включения в госреестр сортов) - 24,2% посевной площади, зарубежной селекции – сорт «Бомбона» (2009г.) - 18,1%. Ячменя сорта «Бровар» (2007г.) - 23,8%, зарубежной селекции сорт «КВС Ирина» (2016г.) - 3,9%.Овса отечественной
                        селекции сорта «Лидия» (2011г.) - 27,8%, зарубежной – сорта «Эрбграф» (1982г.) - 10,9%. Тритикале яровая сорта «Узор» (2008г.) - 16,6%, зарубежной селекции сорта «Милькаро» (2012г.) - 41,2%.
                    </p>
                </div>
                <div class="productImageBlock"><img src={% static "/img/productImage6-1.jpg" %} alt="Семеноводство зернновых культур" class="ownersPhoto">
                    <img src={% static "/img/productImage6-2.jpg" %} alt="Семеноводство зернновых культур" class="ownersPhoto">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
