{% extends "base.html" %}
{% load static %}
{% block content_header %}
<li>
    <a href="#footerBlock" class="header__link">Контакты</a>
</li>
<li>
    <a href="{% url 'index' %}" class="header__link">На главную</a>
</li>
{% endblock %}
{% block content %}
<div class="productTopImage">
    <div class="darkFilter">
        <div class="productTitle">
            <h1>Семеноводство льна масличного</h1>
        </div>
        <script type="text/javascript" src={% static 'js/setTopImage.js' %}></script>
    </div>
</div>
<div class="productContent">
    <div class="container">
        <div class="contentText">
            <div class="textAndImage">
                <div class="productTextBlock">
                    <p>По ботанической характеристике род лен относится к однолетним и многолетним травам семейства – льновых. Различают два основных подвидов льна, используемого в производстве: лен долгунец, для выработки волокна и лен-кудряш – на масло.
                        При цветении все поле льна покрыто нежно-голубыми цветками. В его семенах, новейших сортов, содержится до 50% крайне полезного для человека масла и до 30% белка.
                    </p>
                    <p>Значительное содержание непредельной линоленовой кислоты определяют его способность к быстрому высыханию и высокую востребованность для производства олифы, кремов и лекарственных средств.Посев масличного льна производится семенами
                        районированных сортов не ниже второго класса посевного стандарта. Глубина заделки семян в зависимости от влажности почвы от 3 до 5 см. Оптимальными температурами для получения дружных всходов льна являются 10-14 градусов, такая
                        температура в льносеющих районах нашей зоны наступает в период с 12 по 18 мая. Оптимально поздние сроки сева способствуют очищению поля от сорняков, примерно на 30%. Норма высева 40-50 кг, в среднем 8 млн. всхожих семян на
                        один гектар.
                    </p>
                </div>
                <div class="productImageBlock"><img src={% static "/img/productImage10-1.jpg" %} alt="Семеноводство льна масличного" class="ownersPhoto">
                    <img src={% static "/img/productImage10-2.jpg" %} alt="Семеноводство льна масличного" class="ownersPhoto">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
